#Ignore the following
*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.fls
*.toc
data 
build
*.ps
*.pdf
*.cmake
*.png
*.exe
*.o
*.make
*.bin
*.prof
*.ps                                                                           
CMakeFiles
CMakeCache.txt
MakeFile
*.zip
*.npy
*.ipynb
*.pyc
*.png